<div class="col-12">
  <div class="card recent-sales overflow-auto">
    <div class="card-body pt-3">
      <div class="pagetitle">
        <h1>Periodos</h1>
      </div>
      <!-- Encabezado de la tabla con el selector de registros y campo de búsqueda -->
      <div class="d-flex justify-content-between mb-3">
        <!-- Botón para agregar nuevo -->
        <div class="d-flex justify-content-start mb-3 mt-4">
          <button class="btn btn-dark" (click)="abrirModal()">
            <i class="bi bi-plus-circle"></i>&nbsp;&nbsp; Nuevo Periodo
          </button>
        </div>
        <!-- Selector de cantidad de registros -->
        <div class="d-flex align-items-center">
          <span class="me-2">Datos</span>
          <select class="form-select" (change)="changeLimit($event)">
            <option value="10">10</option>
            <option value="20">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>

        <!-- Campo de búsqueda -->
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            (input)="searchTable($event)"
          />
        </div>
      </div>

      @if (isLoading) {
      <div class="alert alert-info mb-4 text-center" role="alert">
        <i class="bi bi-hourglass-split me-2"></i>
        Espere un momento, se están cargando los datos...
      </div>
      <app-loading-spinner></app-loading-spinner>
      } @else if(periodos) {
      <table class="table table-hover">
        <thead class="">
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">FECHA INICIO</th>
            <th scope="col">FECHA FIN</th>
            <th scope="col">GESTIÓN</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          @if (periodos.length > 0) { @for (periodo of periodos | paginate: {
          itemsPerPage: limit, currentPage: page }; track $index) {
          <tr>
            <th class="text-center" scope="row">{{ periodo.id }}</th>
            <td class="text-center">{{ periodo.nombre }}</td>
            <td class="text-center">
              {{ periodo.fecha_inicio | date : "dd/MM/yyyy" }}
            </td>
            <td class="text-center">
              {{ periodo.fecha_fin | date : "dd/MM/yyyy" }}
            </td>
            <td class="text-center">
              {{ obtenerGestion(periodo.gestion_id) }}
            </td>
            <td class="text-center">
              <button
                 class="btn-icon edit-btn" title="Editar"
                (click)="editarPeriodo(periodo)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                class="btn-icon delete-btn" title="Eliminar"
                (click)="eliminarPeriodo(periodo)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          } } @else {
          <tr>
            <td colspan="6" class="text-center">No se encontraron registros</td>
          </tr>
          }
        </tbody>
      </table>
      }

      <!-- Paginación -->
      @if (periodos.length > 0) {
      <div class="d-flex justify-content-center mt-3">
        <pagination-controls
          class="custom-pagination"
          (pageChange)="page = $event"
          previousLabel="<"
          nextLabel=">"
        ></pagination-controls>
      </div>
      }
    </div>
  </div>

  <!-- Modal para agregar nueva periodo -->
  <div class="modal" [ngStyle]="{ display: modalVisible ? 'block' : 'none' }">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold">
            {{ isEditMode ? "Editar Periodo" : "Crear Nuevo Periodo" }}
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="cerrarModal()"
          ></button>
        </div>
        <form [formGroup]="periodoForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="nombre" class="form-label fw-semibold"
                >Nombre del Periodo:</label
              >
              <input
                type="text"
                formControlName="nombre"
                class="form-control"
                id="nombre"
              />
              <span
                *ngIf="isValidField('nombre')"
                class="form-text text-danger"
              >
                * {{ getMessageError("nombre") }}
              </span>
            </div>

            <div class="mb-3">
              <label for="fecha_inicio" class="form-label fw-semibold"
                >Fecha de Inicio:</label
              >
              <input
                type="date"
                formControlName="fecha_inicio"
                class="form-control"
                id="fecha_inicio"
              />
              <span
                *ngIf="isValidField('fecha_inicio')"
                class="form-text text-danger"
              >
                * {{ getMessageError("fecha_inicio") }}
              </span>
            </div>

            <div class="mb-3">
              <label for="fecha_fin" class="form-label fw-semibold"
                >Fecha de Fin:</label
              >
              <input
                type="date"
                formControlName="fecha_fin"
                class="form-control"
                id="fecha_fin"
              />
              <span
                *ngIf="isValidField('fecha_fin')"
                class="form-text text-danger"
              >
                * {{ getMessageError("fecha_fin") }}
              </span>
            </div>

            <div class="mb-3">
              <label for="gestion_id" class="form-label fw-semibold"
                >Gestión:</label
              >
              <select
                formControlName="gestion_id"
                class="form-select"
                id="gestion_id"
              >
                <option value="">Seleccione una gestión</option>
                <option *ngFor="let gestion of gestiones" [value]="gestion.id">
                  {{ gestion.anio }}
                </option>
              </select>
              <span
                *ngIf="isValidField('gestion_id')"
                class="form-text text-danger"
              >
                * {{ getMessageError("gestion_id") }}
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="cerrarModal()"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
              {{ isEditMode ? "Actualizar" : "Guardar" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
