<div class="col-12">
  <div class="card verflow-auto">
    <div class="card-body p-5">
      <div class="pagetitle">
        <h1>Mis Estudiantes</h1>
      </div>

      <div class="d-flex justify-content-between mb-4">
        <div class="d-flex flex-column">
          <div>
            <span class="ms-2 fw-bold">Materia:</span>
            <span class="ms-2">{{ materia?.nombre }}</span>
          </div>
          <div>
            <span class="ms-2 fw-bold">Curso:</span>
            <span class="ms-2">{{ curso?.nombre }}</span>
          </div>
        </div>

        <!-- Botón para regresar atrás -->
        <div class="d-flex align-items-center ">
          <button class="btn btn-outline-dark p-2" (click)="regresar()">
            <i class="bi bi-arrow-left"></i>&nbsp; Volver
          </button>
        </div>
      </div>

      <hr class="my-4" />

      <!-- Encabezado con selector y búsqueda -->
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <span class="me-2">Datos</span>
          <select class="form-select" (change)="changeLimit($event)">
            <option value="10">10</option>
            <option value="20">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>

        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            (input)="searchTable($event)"
          />
        </div>
      </div>

      @if (isLoading) {
        <app-loading-spinner></app-loading-spinner>
      }
      @else if(estudiantes && estudiantes.length > 0) {
        <section class="row g-3 px-2">
          <article
            class="col-12 col-md-6 col-lg-4"
            *ngFor="let estudiante of estudiantes | paginate : { itemsPerPage: limit, currentPage: page }; let i = index"
          >
            <div class="student-box p-3 h-100 d-flex flex-column justify-content-between">
              <!-- Encabezado con imagen y nombre -->
              <div class="d-flex align-items-center gap-3 mb-3">
                <img
                  [src]="estudiante.url_imagen || getImageDefault()"
                  class="rounded-circle"
                  alt="Foto de {{ estudiante.nombre }}"
                  width="60"
                  height="60"
                />
                <div>
                  <h5 class="mb-0">{{ estudiante.nombre }} {{ estudiante.apellido }}</h5>
                </div>
              </div>

              <!-- Botón -->
              <div class="text-end">
                <button
                  class="learn-more"
                  (click)="verEstudiante(estudiante.id!)"
                >
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">Ver más...</span>
                </button>
              </div>
            </div>
          </article>
        </section>
      }
      @else if(estudiantes && estudiantes.length === 0) {
        <div class="alert alert-warning text-center" role="alert">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>
          No se encontraron estudiantes.
        </div>
      }

      <!-- Paginación -->
      @if (estudiantes.length > limit) {
        <div class="d-flex justify-content-end mt-3">
          <pagination-controls
            class="custom-pagination"
            (pageChange)="page = $event"
            previousLabel="<"
            nextLabel=">"
          ></pagination-controls>
        </div>
      }
    </div>
  </div>
</div>
