.bg-critico { background-color: #c82333 !important; color: #fff; }
.bg-alto { background-color: #fd680b !important; color: #fff; }
.bg-medio { background-color: #ffc107 !important; color: #212529; }
.bg-bajo { background-color: #28a745 !important; color: #fff; }


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* fondo oscuro y opaco */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-contenido {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-cerrar {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  color: #333;
}

.badge {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
}
