<div class="col-12">
  <div class="card verflow-auto">
    
    <div class="card-body p-5">
      <div class="pagetitle">
        <h1>Mis Estudiantes</h1>
      </div>
      <!-- Encabezado de la tabla con el selector de registros y campo de búsqueda -->
      <div class="d-flex justify-content-between mb-3">
        <!-- Selector de cantidad de registros -->
        <div class="d-flex align-items-center">
          <span class="me-2">Datos</span>
          <select class="form-select" (change)="changeLimit($event)">
            <option value="10">10</option>
            <option value="20">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>

        <!-- Campo de búsqueda -->
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            (input)="searchTable($event)"
          />
        </div>
      </div>

      @if (isLoading) {
      <app-loading-spinner></app-loading-spinner>
      }  <!-- Tarjetas creativas -->
      @else if(estudiantes && estudiantes.length > 0) {
        <section class="row g-3 px-2">
          <article
            class="col-12 col-md-6 col-lg-4"
            *ngFor="let data of estudiantes | paginate : { itemsPerPage: limit, currentPage: page }; let i = index"
          >
            <div class="card student-box p-3 h-100 d-flex flex-column justify-content-center">

              <!-- Encabezado con imagen y nombre -->
              <div class="d-flex align-items-center gap-3 mb-3">
                <img
                  [src]="data.estudiante.url_imagen || getImageDefault()"
                  alt="Foto de {{ data.estudiante.nombre }}"
                  class="rounded-circle"
                  width="60"
                  height="60"
                />
                <div>
                  <h5 class="mb-0">{{ data.estudiante.nombre }} {{ data.estudiante.apellido }}</h5>
                  <div class="text-end">
                    <button
                      class="learn-more"
                      (click)="verEstudiante(data.estudiante.id!)"
                    >
                      <span class="circle" aria-hidden="true">
                      <span class="icon arrow"></span>
                      </span>
                      <span class="button-text">Ver más...</span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Botón inferior -->
              
            </div>
          </article>
        </section>
      }

      <!-- No se encontraron -->
      @else if(estudiantes && estudiantes.length === 0) {
        <div class="alert alert-warning text-center mt-4" role="alert">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>
          No se encontraron estudiantes.
        </div>
      }

      <!-- Paginación -->
      @if (estudiantes.length > limit) {
        <div class="d-flex justify-content-end mt-4 px-2">
          <pagination-controls
            class="custom-pagination"
            (pageChange)="page = $event"
            previousLabel="<"
            nextLabel=">"
          ></pagination-controls>
        </div>
      }

    </div>
  </div>
</div>