<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div>

<section class="section dashboard">
  @if (isLoading) {
  <div class="card py-5 px-5 text-center">
    <div class="alert alert-info mb-4" role="alert">
      <i class="bi bi-hourglass-split me-2"></i>
      Espere un momento, se están cargando los datos...
    </div>
    <app-loading-spinner></app-loading-spinner>
  </div>
  } @else if(datos) {
  <div class="row" *ngIf="datos">
    <!-- Total Estudiantes -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Estudiantes</h5>
          <div class="d-flex align-items-center">
            <div
              class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-primary text-white"
            >
              <i class="bi bi-people-fill"></i>
            </div>
            <div class="ps-3">
              <h6>{{ datos.total_estudiantes }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Total Cursos -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Cursos</h5>
          <div class="d-flex align-items-center">
            <div
              class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-info text-white"
            >
              <i class="bi bi-journal-bookmark-fill"></i>
            </div>
            <div class="ps-3">
              <h6>{{ datos.total_cursos }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Total Administradores -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Administradores</h5>
          <div class="d-flex align-items-center">
            <div
              class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-dark text-white"
            >
              <i class="bi bi-shield-lock-fill"></i>
            </div>
            <div class="ps-3">
              <h6>{{ datos.total_admins }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Total Docentes -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Docentes</h5>
          <div class="d-flex align-items-center">
            <div
              class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-success text-white"
            >
              <i class="bi bi-person-badge-fill"></i>
            </div>
            <div class="ps-3">
              <h6>{{ datos.total_docentes }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Total Materias -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Materias</h5>
          <div class="d-flex align-items-center">
            <div
              class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-warning text-white"
            >
              <i class="bi bi-book-half"></i>
            </div>
            <div class="ps-3">
              <h6>{{ datos.total_materias }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Total Gestiones -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Gestiones</h5>
          <div class="d-flex align-items-center">
            <div
              class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-secondary text-white"
            >
              <i class="bi bi-calendar-range-fill"></i>
            </div>
            <div class="ps-3">
              <h6>{{ datos.total_gestiones }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Total Periodos -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Periodos</h5>
          <div class="d-flex align-items-center">
            <div
              class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-danger text-white"
            >
              <i class="bi bi-calendar-event-fill"></i>
            </div>
            <div class="ps-3">
              <h6>{{ datos.total_periodos }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tipos de Evaluaciones -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Tipos de Evaluaciones</h5>
          <div class="d-flex align-items-center">
            <div
              class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-primary text-white"
            >
              <i class="bi bi-list-check"></i>
            </div>
            <div class="ps-3">
              <h6>{{ datos.total_tipo_evaluaciones }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Evaluaciones -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Evaluaciones</h5>
          <div class="d-flex align-items-center">
            <div
              class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-info text-white"
            >
              <i class="bi bi-file-earmark-text-fill"></i>
            </div>
            <div class="ps-3">
              <h6>{{ datos.total_evaluaciones }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Inscripciones -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Inscripciones</h5>
          <div class="d-flex align-items-center">
            <div
              class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-success text-white"
            >
              <i class="bi bi-clipboard-check-fill"></i>
            </div>
            <div class="ps-3">
              <h6>{{ datos.total_inscripciones }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Rendimientos -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Rendimientos</h5>
          <div class="d-flex align-items-center">
            <div
              class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-warning text-white"
            >
              <i class="bi bi-graph-up"></i>
            </div>
            <div class="ps-3">
              <h6>{{ datos.total_rendimientos }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</section>
