<div class="card border-0 shadow-sm rounded-2 px-4 py-2 text-center d-center-block">
  <div class="pagetitle mb-1">
    <h1 class="display-4 fw-bold text-primary m-0">
      <i class="bi bi-bar-chart-fill me-2"></i>
      Dashboard
    </h1>
  </div>
</div>


<section class="section dashboard">
  @if (isLoading) {
<div class="card"><app-loading-spinner></app-loading-spinner></div>
  } @else if(datos) {
  <div class="row g-5" *ngIf="datos">
    <ng-container *ngFor="let item of [
      {title:'Estudiantes', icon:'bi-people-fill', bg:'primary', value: datos.total_estudiantes},
      {title:'Cursos', icon:'bi-journal-bookmark-fill', bg:'info', value: datos.total_cursos},
      {title:'Administradores', icon:'bi-shield-lock-fill', bg:'dark', value: datos.total_admins},
      {title:'Docentes', icon:'bi-person-badge-fill', bg:'success', value: datos.total_docentes},
      {title:'Materias', icon:'bi-book-half', bg:'warning', value: datos.total_materias},
      {title:'Gestiones', icon:'bi-calendar-range-fill', bg:'secondary', value: datos.total_gestiones},
      {title:'Periodos', icon:'bi-calendar-event-fill', bg:'danger', value: datos.total_periodos},
      {title:'Tipos de Evaluaciones', icon:'bi-list-check', bg:'primary', value: datos.total_tipo_evaluaciones},
      {title:'Evaluaciones', icon:'bi-file-earmark-text-fill', bg:'info', value: datos.total_evaluaciones},
      {title:'Inscripciones', icon:'bi-clipboard-check-fill', bg:'success', value: datos.total_inscripciones},
      {title:'Rendimientos', icon:'bi-graph-up', bg:'warning', value: datos.total_rendimientos}
    ]">
      <div class="col-xxl-3 col-xl-4 col-md-6">
        <div class="card border-0 shadow-sm rounded-5 p-4 text-center hover-card">
          <div class="icon-circle mx-auto mb-3 bg-{{item.bg}} text-white">
            <i class="bi {{item.icon}} fs-1"></i>
          </div>
          <h6 class="fw-light text-secondary mb-1">{{ item.title }}</h6>
          <h3 class="fw-bold text-primary">{{ item.value }}</h3>
        </div>
      </div>
    </ng-container>
  </div>
  }
</section>
