



<div class="col-12">
  <div class="card recent-sales overflow-auto">
    <div class="card-body pt-3">
      <div class="pagetitle">
        <h1>Estudiantes</h1>
      </div>
      <!-- Encabezado de la tabla con el selector de registros y campo de búsqueda -->
      <div class="d-flex justify-content-between mb-3">
        <!-- Botón para agregar nuevo -->
        <div class="d-flex justify-content-start mb-3 mt-4">
          <button class="btn btn-dark" (click)="abrirModal()">
            <i class="bi bi-plus-circle"></i>&nbsp;&nbsp; Nuevo Estudiante
          </button>
        </div>
        <!-- Selector de cantidad de registros -->
        <div class="d-flex align-items-center">
          <span class="me-2">Datos</span>
          <select class="form-select" (change)="changeLimit($event)">
            <option value="10">10</option>
            <option value="20">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>

        <!-- Campo de búsqueda -->
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            (input)="searchTable($event)"
          />
        </div>
      </div>

      @if (isLoading) {
      <div class="alert alert-info mb-4 text-center" role="alert">
        <i class="bi bi-hourglass-split me-2"></i>
        Espere un momento, se están cargando los datos...
      </div>
      <app-loading-spinner></app-loading-spinner>
      } @else if(estudiantes) {
      <table class="table table-hover">
        <thead class="">
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">FOTO</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">FECHA DE NACIMIENTO</th>
            <th scope="col">GENERO</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          @if (estudiantes.length > 0) { @for (estudiante of estudiantes |
          paginate: { itemsPerPage: limit, currentPage: page }; track $index) {
          <tr>
            <th class="text-center" scope="row">
              {{ estudiante.id }}
            </th>
            <td class="text-center">
              <img
                [src]="estudiante.url_imagen || getImageDefault()"
                alt="{{ estudiante.nombre }}"
                width="50"
                height="50"
              />
            </td>
            <td class="text-center">{{ estudiante.nombre }}</td>
            <td class="text-center">{{ estudiante.apellido }}</td>
            <td class="text-center">{{ estudiante.fecha_nacimiento }}</td>
            <td class="text-center">{{ estudiante.genero }}</td>
            <td class="text-center">
              <button
                class="btn-icon edit-btn" title="Editar"
                (click)="editarEstudiante(estudiante)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                class="btn-icon delete-btn" title="Eliminar"
                (click)="eliminarEstudiante(estudiante)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          } } @else {
          <tr>
            <td colspan="7" class="text-center">No se encontraron registros</td>
          </tr>
          }
        </tbody>
      </table>
      }

      <!-- Paginación -->
      @if (estudiantes.length > 0) {
      <div class="d-flex justify-content-center mt-3">
        <pagination-controls
          class="custom-pagination"
          (pageChange)="page = $event"
          previousLabel="<"
          nextLabel=">"
        ></pagination-controls>
      </div>
      }
    </div>
  </div>

  <!-- Modal para agregar nueva estudiante -->
  <div
    class="modal modal-lg"
    [ngStyle]="{ display: modalVisible ? 'block' : 'none' }"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold">
            {{ isEditMode ? "Editar Estudiante" : "Crear Nuevo Estudiante" }}
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="cerrarModal()"
          ></button>
        </div>
        <form [formGroup]="estudianteForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="row p-3">
              <!-- Columna 1: Datos del estudiante -->
              <div class="col-md-6">
                <!-- Nombre -->
                <div class="mb-3">
                  <label for="nombre" class="form-label fw-semibold"
                    >Nombre:</label
                  >
                  <input
                    type="text"
                    formControlName="nombre"
                    class="form-control"
                    id="nombre"
                  />
                  <span
                    *ngIf="isValidField('nombre')"
                    class="form-text text-danger"
                  >
                    * {{ getMessageError("nombre") }}
                  </span>
                </div>

                <!-- Apellido -->
                <div class="mb-3">
                  <label for="apellido" class="form-label fw-semibold"
                    >Apellido:</label
                  >
                  <input
                    type="text"
                    formControlName="apellido"
                    class="form-control"
                    id="apellido"
                  />
                  <span
                    *ngIf="isValidField('apellido')"
                    class="form-text text-danger"
                  >
                    * {{ getMessageError("apellido") }}
                  </span>
                </div>

                <!-- Fecha de nacimiento -->
                <div class="mb-3">
                  <label for="fecha_nacimiento" class="form-label fw-semibold"
                    >Fecha de Nacimiento:</label
                  >
                  <input
                    type="date"
                    formControlName="fecha_nacimiento"
                    class="form-control"
                    id="fecha_nacimiento"
                  />
                  <span
                    *ngIf="isValidField('fecha_nacimiento')"
                    class="form-text text-danger"
                  >
                    * {{ getMessageError("fecha_nacimiento") }}
                  </span>
                </div>

                <!-- Género -->
                <div class="mb-3">
                  <div>
                    <label class="form-label fw-semibold d-block"
                      >Género:</label
                    >
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="genero-masculino"
                        formControlName="genero"
                        value="Masculino"
                      />
                      <label class="form-check-label" for="genero-masculino"
                        >Masculino</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="genero-femenino"
                        formControlName="genero"
                        value="Femenino"
                      />
                      <label class="form-check-label" for="genero-femenino"
                        >Femenino</label
                      >
                    </div>
                  </div>
                  <span
                    *ngIf="isValidField('genero')"
                    class="form-text text-danger"
                  >
                    * {{ getMessageError("genero") }}
                  </span>
                </div>

                <!-- Campo para la imagen -->
                <div class="mb-3">
                  <label class="form-label fw-semibold">Imagen:</label>
                  <div class="container-photo">
                    <div class="profile-photo">
                      <label>
                        <figure class="image-preview">
                          <img
                            id="image-preview"
                            [src]="imagePreview"
                            alt="Preview"
                          />
                        </figure>
                      </label>
                      <div (click)="onDeleteImage()" class="delete-icon">
                        <i class="bx bx-x"></i>
                      </div>
                      <label for="url_imagen">
                        <div class="edit-icon">
                          <i class="bx bx-pencil"></i>
                        </div>
                      </label>
                    </div>
                    <p class="types-files">
                      Tipos de archivos permitidos: png, jpg, jpeg.
                    </p>
                    <input
                      formControlName="url_imagen"
                      (change)="onFileChange($event)"
                      type="file"
                      id="url_imagen"
                      name="url_imagen"
                      accept="image/*"
                      hidden
                    />
                  </div>
                </div>
              </div>

              <!-- Columna 2: Datos del tutor -->
              <div class="col-md-6">
                <!-- Nombre tutor -->
                <div class="mb-3">
                  <label for="nombre_tutor" class="form-label fw-semibold"
                    >Nombre del Tutor:</label
                  >
                  <input
                    type="text"
                    formControlName="nombre_tutor"
                    class="form-control"
                    id="nombre_tutor"
                  />
                  <span
                    *ngIf="isValidField('nombre_tutor')"
                    class="form-text text-danger"
                  >
                    * {{ getMessageError("nombre_tutor") }}
                  </span>
                </div>

                <!-- Telefono tutor -->
                <div class="mb-3">
                  <label for="telefono_tutor" class="form-label fw-semibold"
                    >Telefono del Tutor:</label
                  >
                  <input
                    type="text"
                    formControlName="telefono_tutor"
                    class="form-control"
                    id="telefono_tutor"
                  />
                  <span
                    *ngIf="isValidField('telefono_tutor')"
                    class="form-text text-danger"
                  >
                    * {{ getMessageError("telefono_tutor") }}
                  </span>
                </div>

                <!-- direccion casa -->
                <div class="mb-3">
                  <label for="direccion_casa" class="form-label fw-semibold"
                    >Dirección de Casa:</label
                  >
                  <input
                    type="text"
                    formControlName="direccion_casa"
                    class="form-control"
                    id="direccion_casa"
                  />
                  <span
                    *ngIf="isValidField('direccion_casa')"
                    class="form-text text-danger"
                  >
                    * {{ getMessageError("direccion_casa") }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="cerrarModal()"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
              {{ isEditMode ? "Actualizar" : "Guardar" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
