<div class="pagetitle">
  <h1>Cursos</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
      <li class="breadcrumb-item active">Cursos</li>
    </ol>
  </nav>
</div>

<!-- Botón para agregar nuevo -->
<div class="d-flex justify-content-start mb-3 mt-4">
  <button class="btn btn-primary" (click)="abrirModal()">
    <i class="bi bi-plus-circle"></i>&nbsp;&nbsp; Nuevo Curso
  </button>
</div>

<div class="col-12">
  <div class="card recent-sales overflow-auto">
    <div class="card-body pt-3">
      <!-- Encabezado de la tabla con el selector de registros y campo de búsqueda -->
      <div class="d-flex justify-content-between mb-3">
        <!-- Selector de cantidad de registros -->
        <div class="d-flex align-items-center">
          <span class="me-2">Mostrando</span>
          <select class="form-select" (change)="changeLimit($event)">
            <option value="10">10</option>
            <option value="20">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <span class="ms-2 text-nowrap">registros por página</span>
        </div>

        <!-- Campo de búsqueda -->
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            (input)="searchTable($event)"
          />
        </div>
      </div>

      @if (isLoading) {
      <div class="alert alert-info mb-4 text-center" role="alert">
        <i class="bi bi-hourglass-split me-2"></i>
        Espere un momento, se están cargando los datos...
      </div>
      <app-loading-spinner></app-loading-spinner>
      } @else if(cursos) {
      <table class="table table-hover">
        <thead class="">
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">NIVEL</th>
            <th scope="col">PARALELO</th>
            <th scope="col">TURNO</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          @if (cursos.length > 0) { @for (curso of cursos | paginate: {
          itemsPerPage: limit, currentPage: page }; track $index) {
          <tr>
            <th class="text-center" scope="row">{{ curso.id }}</th>
            <td class="text-center">{{ curso.nombre }}</td>
            <td class="text-center">{{ curso.nivel }}</td>
            <td class="text-center">{{ curso.paralelo }}</td>
            <td class="text-center">{{ curso.turno }}</td>
            <td class="text-center">
              <button
                title="Asignar Materias"
                class="btn btn-sm btn-primary me-1"
                (click)="asignarMaterias(curso)"
              >
                <i class="bi bi-journal-bookmark-fill"></i>
              </button>
              <button
                title="Editar Curso"
                class="btn btn-sm btn-warning me-1"
                (click)="editarCurso(curso)"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                title="Eliminar Curso"
                class="btn btn-sm btn-danger"
                (click)="eliminarCurso(curso)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          } } @else {
          <tr>
            <td colspan="6" class="text-center">No se encontraron registros</td>
          </tr>
          }
        </tbody>
      </table>
      }

      <!-- Paginación -->
      @if (cursos.length > 0) {
      <div class="d-flex justify-content-end mt-3">
        <pagination-controls
          class="custom-pagination"
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
        ></pagination-controls>
      </div>
      }
    </div>
  </div>

  <!-- Modal para agregar nueva curso -->
  <div class="modal" [ngStyle]="{ display: modalVisible ? 'block' : 'none' }">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold">
            {{ isEditMode ? "Editar Curso" : "Crear Nuevo Curso" }}
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="cerrarModal()"
          ></button>
        </div>
        <form [formGroup]="cursoForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="nombre" class="form-label fw-semibold"
                >Nombre del Curso:</label
              >
              <input
                type="text"
                formControlName="nombre"
                class="form-control"
                id="nombre"
              />
              <span
                *ngIf="isValidField('nombre')"
                class="form-text text-danger"
              >
                * {{ getMessageError("nombre") }}
              </span>
            </div>

            <div class="mb-3">
              <label for="nivel" class="form-label fw-semibold">Nivel:</label>
              <select formControlName="nivel" class="form-select" id="nivel">
                <option value="" disabled selected>Seleccionar Nivel</option>
                <option *ngFor="let nivel of niveles" [value]="nivel">
                  {{ nivel }}
                </option>
              </select>
              <span *ngIf="isValidField('nivel')" class="form-text text-danger">
                * {{ getMessageError("nivel") }}
              </span>
            </div>

            <div class="mb-3">
              <label for="paralelo" class="form-label fw-semibold"
                >Paralelo:</label
              >
              <select
                formControlName="paralelo"
                class="form-select"
                id="paralelo"
              >
                <option value="" disabled selected>Seleccionar Paralelo</option>
                <option *ngFor="let paralelo of paralelos" [value]="paralelo">
                  {{ paralelo }}
                </option>
              </select>
              <span
                *ngIf="isValidField('paralelo')"
                class="form-text text-danger"
              >
                * {{ getMessageError("paralelo") }}
              </span>
            </div>

            <div class="mb-3">
              <label for="turno" class="form-label fw-semibold">Turno:</label>
              <select formControlName="turno" class="form-select" id="turno">
                <option value="" disabled selected>Seleccionar Turno</option>
                <option *ngFor="let turno of turnos" [value]="turno">
                  {{ turno }}
                </option>
              </select>
              <span *ngIf="isValidField('turno')" class="form-text text-danger">
                * {{ getMessageError("turno") }}
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="cerrarModal()"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
              {{ isEditMode ? "Actualizar" : "Guardar" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
