<div class="col-12">
  <div class="card recent-sales overflow-auto">
    <div class="card-body pt-3">
      <div class="pagetitle">
        <h1>Tipo de Evaluaciones</h1>
      </div>
      <!-- Encabezado de la tabla con el selector de registros y campo de búsqueda -->
      <div class="d-flex justify-content-between mb-3">
        <!-- Botón para agregar nuevo -->
        <div class="d-flex justify-content-start mb-3 mt-4">
          <button class="btn btn-dark" (click)="abrirModal()">
            <i class="bi bi-plus-circle"></i>&nbsp;&nbsp; Nuevo Tipo de Evaluación
          </button>
        </div>
        <!-- Selector de cantidad de registros -->
        <div class="d-flex align-items-center">
          <span class="me-2">Datos</span>
          <select class="form-select" (change)="changeLimit($event)">
            <option value="10">10</option>
            <option value="20">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>

        <!-- Campo de búsqueda -->
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            (input)="searchTable($event)"
          />
        </div>
      </div>

      @if (isLoading) {
      <app-loading-spinner></app-loading-spinner>
      } @else if(tipoEvaluaciones) {
      <table class="table table-hover">
        <thead class="">
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          @if (tipoEvaluaciones.length > 0) { @for (tipoEvaluacion of
          tipoEvaluaciones | paginate: { itemsPerPage: limit, currentPage: page
          }; track $index) {
          <tr>
            <th class="text-center" scope="row">{{ tipoEvaluacion.id }}</th>
            <td class="text-center">{{ tipoEvaluacion.nombre }}</td>
            <td class="text-center">
              <button
                class="btn-icon edit-btn" title="Editar"
                (click)="editarTipoEvaluacion(tipoEvaluacion)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                class="btn-icon delete-btn" title="Eliminar"
                (click)="eliminarTipoEvaluacion(tipoEvaluacion)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          } } @else {
          <tr>
            <td colspan="3" class="text-center">No se encontraron registros</td>
          </tr>
          }
        </tbody>
      </table>
      }

      <!-- Paginación -->
      @if (tipoEvaluaciones.length > 0) {
      <div class="d-flex justify-content-center mt-3">
        <pagination-controls
          class="custom-pagination"
          (pageChange)="page = $event"
          previousLabel="<"
          nextLabel=">"
        ></pagination-controls>
      </div>
      }
    </div>
  </div>

  <!-- Modal para agregar nueva tipoEvaluacion -->
  <div class="modal" [ngStyle]="{ display: modalVisible ? 'block' : 'none' }">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold">
            {{
              isEditMode
                ? "Editar Tipo de Evaluación"
                : "Crear Nuevo Tipo de Evaluación"
            }}
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="cerrarModal()"
          ></button>
        </div>
        <form [formGroup]="tipoEvaluacionForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="nombre" class="form-label fw-semibold"
                >Nombre de la tipo de evaluación:</label
              >
              <input
                type="text"
                formControlName="nombre"
                class="form-control"
                id="nombre"
              />
              <span
                *ngIf="isValidField('nombre')"
                class="form-text text-danger"
              >
                * {{ getMessageError("nombre") }}
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="cerrarModal()"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
              {{ isEditMode ? "Actualizar" : "Guardar" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
