<div class="col-12">
  <div class="card recent-sales overflow-auto">
    <div class="card-body pt-3">
      <div class="pagetitle">
        <h1>Tipo de Evaluaciones</h1>
      </div>
      <!-- Encabezado de la tabla con el selector de registros y campo de búsqueda -->
      <div class="d-flex justify-content-between mb-3">
        <!-- Botón para agregar nuevo -->
<div class="d-flex justify-content-start mb-3 mt-4">
  <button class="btn btn-dark" (click)="abrirModal()">
    <i class="bi bi-plus-circle"></i>&nbsp;&nbsp; Tipo de Evaluación
  </button>
</div>
        <!-- Selector de cantidad de registros -->
        <div class="d-flex align-items-center">
          <span class="me-2">Datos</span>
          <select class="form-select" (change)="changeLimit($event)">
            <option value="10">10</option>
            <option value="20">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>

        <!-- Campo de búsqueda -->
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar..."
            (input)="searchTable($event)"
          />
        </div>
      </div>

      @if (isLoading) {
      <app-loading-spinner></app-loading-spinner>
      } @else if(pesosTipoEvaluacion) {
      <table class="table table-hover">
        <thead class="">
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">PORCENTAJE</th>
            <th scope="col">MATERIA</th>
            <th scope="col">GESTIÓN</th>
            <th scope="col">TIPO EVALUACIÓN</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          @if (pesosTipoEvaluacion.length > 0) { @for (pesoTipoEvaluacion of
          pesosTipoEvaluacion | paginate: { itemsPerPage: limit, currentPage:
          page }; track $index) {
          <tr>
            <th class="text-center" scope="row">{{ pesoTipoEvaluacion.id }}</th>
            <td class="text-center">{{ pesoTipoEvaluacion.porcentaje }}%</td>
            <td class="text-center">
              {{ obtenerNombreMateria(pesoTipoEvaluacion.materia_id) }}
            </td>
            <td class="text-center">
              {{ obtenerNombreGestion(pesoTipoEvaluacion.gestion_id) }}
            </td>
            <td class="text-center">
              {{
                obtenerNombreTipoEvaluacion(
                  pesoTipoEvaluacion.tipo_evaluacion_id
                )
              }}
            </td>
            <td class="text-center">
              <button
                title="Editar"
                class="btn-icon edit-btn"
                (click)="editarPesoTipoEvaluacion(pesoTipoEvaluacion)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                title="Eliminar"
                class="btn-icon delete-btn"
                (click)="eliminarPesoTipoEvaluacion(pesoTipoEvaluacion)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          } } @else {
          <tr>
            <td colspan="6" class="text-center">No se encontraron registros</td>
          </tr>
          }
        </tbody>
      </table>
    }
      
      <!-- Paginación -->
      @if (pesosTipoEvaluacion.length > 0) {
      <div class="d-flex justify-content-center mt-3">
        <pagination-controls
          class="custom-pagination"
          (pageChange)="page = $event"
          previousLabel="<"
          nextLabel=">"
        ></pagination-controls>
      </div>
      }
    </div>
  </div>

  <!-- Modal para agregar nueva pesoTipoEvaluacion -->
  <div class="modal" [ngStyle]="{ display: modalVisible ? 'block' : 'none' }">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold">
            {{
              isEditMode
                ? "Editar Peso Tipo de Evaluación"
                : "Crear Nuevo Peso Tipo de Evaluación"
            }}
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="cerrarModal()"
          ></button>
        </div>
        <form [formGroup]="pesoTipoEvaluacionForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="porcentaje" class="form-label fw-semibold">Porcentaje:</label>
              <input
              type="number"
              formControlName="porcentaje"
              class="form-control"
              id="porcentaje"
              min="0"
              max="100"
              step="0.5"
              pattern="[0-9]+([.][0-9]{1,2})?"
              inputmode="decimal"
              />
              <span
              *ngIf="isValidField('porcentaje')"
              class="form-text text-danger"
              >
              * {{ getMessageError("porcentaje") }}
              </span>
            </div>
            
            <div class="mb-3">
              <label for="materia" class="form-label fw-semibold">Materia:</label>
              <select
                formControlName="materia_id"
                class="form-select"
                id="materia"
              >
                <option value="" selected disabled>Seleccione una materia</option>
                <option *ngFor="let materia of materias" [value]="materia.id">
                  {{ materia.nombre }}
                </option>
              </select>
              <span
                *ngIf="isValidField('materia_id')"
                class="form-text text-danger"
              >
                * {{ getMessageError("materia_id") }}
              </span>
            </div>

            <div class="mb-3">
              <label for="gestion" class="form-label fw-semibold">Gestión:</label>
              <select
                formControlName="gestion_id"
                class="form-select"
                id="gestion"
              >
                <option value="" selected disabled>Seleccione una gestión</option>
                <option *ngFor="let gestion of gestiones" [value]="gestion.id">
                  {{ gestion.anio }}
                </option>
              </select>
              <span
                *ngIf="isValidField('gestion_id')"
                class="form-text text-danger"
              >
                * {{ getMessageError("gestion_id") }}
              </span>
            </div>

            <div class="mb-3">
              <label for="tipoEvaluacion" class="form-label fw-semibold">Tipo de Evaluación:</label>
              <select
                formControlName="tipo_evaluacion_id"
                class="form-select"
                id="tipoEvaluacion"
              >
                <option value="" selected disabled>Seleccione un tipo de evaluación</option>
                <option *ngFor="let tipo of tiposEvaluacion" [value]="tipo.id">
                  {{ tipo.nombre }}
                </option>
              </select>
              <span
                *ngIf="isValidField('tipo_evaluacion_id')"
                class="form-text text-danger"
              >
                * {{ getMessageError("tipo_evaluacion_id") }}
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="cerrarModal()"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
              {{ isEditMode ? "Actualizar" : "Guardar" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
